# Database Configuration
DB_NAME=restauranthubdb
DB_USER=restauranthub
DB_PASSWORD=restaurantpwd
DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=5432

# Server Configuration
SERVER_PORT=8080

# JWT Configuration
# Gere um valor seguro em base64, ex: `openssl rand -base64 32`
JWT_SECRET=ZmFrZS1qd3Qtc2VjcmV0LXNob3VsZC1iZS1sb25nLWVuY29kZWQ=
JWT_EXPIRATION_MS=3600000
